<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FILMY</title>
</head>
<body>
<ul>
    {{#videos}}
    <li>{{name}}</li>
    {{/videos}}
</ul>

<form action="/new-video" method="post">
    <input type="text" name="name">
    <button type="submit">DODAJ FILM</button>
</form>
<h2>Wyszukaj Film</h2>
<form action="/search" method="get">
    <input type="text" name="query">
    <button type="submit">Szukaj</button>
</form>
</body>
</html>